<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b2032027-abe6-4358-a1fc-e2bc0b95e26b" name="Test Suite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b2032027-abe6-4358-a1fc-e2bc0b95e26bfileName">Test-Suite-2</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
