<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="290645b7-69b8-4a49-a1d3-2e097e45a2bb" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="290645b7-69b8-4a49-a1d3-2e097e45a2bbfileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
